/* fallback */

* {
  font-family: 微软雅黑;
  font-size: 14px;
}
span {
  vertical-align: sub;
}
body,
p,
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 26px;
  margin-bottom: 6px;
}
h2 {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 5px;
}
i {
  font-size: inherit;
  width: 1em;
}
@mixin stronger {
  font-weight: 600;
}

@mixin larger {
  font-size: larger;
}

.smaller {
  font-size: smaller;
}
.user-avatar {
  position: absolute;
  right: 10mm;
  top: 10mm;
  width: 40mm;
}
.item-title {
  @include larger;
  @include stronger;
}
.italic {
  font-style: italic;
  color: #00000080;
  vertical-align: middle;
}
.menu-title {
  margin: 5px 0;
}
.menu-content {
  margin-left: 1.5em;
}
.page {
  position: absolute;
  width: 210mm;
  height: 297mm;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  .content {
    height: 277mm;
    margin: 10mm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > * {
      flex-shrink: 1;
    }
    .user-info {
      > p {
        line-height: 24px;
      }
    }
    .honor {
      table tr {
        line-height: 14px;
        td {
          font-size: 14px;
        }
        :first-child {
          min-width: 80px;
        }
      }
    }
  }
}
